#drop_zone {
    border: 5px solid blue;
    width:  200px;
    height: 100px;
}

.hover * {
    pointer-events: none;
    border:  5px dotted blue;
    color: grey;
}

#type_error, #size_error {
    color: red;
}