<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Superheroic Component Playground
  </h1>
</div>
<ul id="nav-bar">
  <li>
    <h2><a target="_blank" rel="noopener" href="/select-list">Multiple Selection List</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">To Be Continued...</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>

<div id="select-cntnr">
    <app-multi-select 
                      [data]="groceryList"
                      (selection)="printSelection($event)">
    </app-multi-select>
</div>